.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    padding: 20px;
}

.top-row {
    background: white;
    border-bottom: 1px solid #e5e7eb;
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 24px;
}

.top-row h5 {
    margin: 0;
    color: #111827;
}

@media (max-width: 640.98px) {
    .top-row {
        padding-left: 12px;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 260px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 10;
    }

    article {
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
    }
}